.form_search{
	line-height: 0;
	margin: 0;
	padding: 0;
}
#sidebar_btn{
    position: absolute;
    bottom: 10%;
    background: #5FB45F;
    right: 2%;
    border-radius: 2px;
    color: white;
    padding: 0.5em;
    font-size: 2em;
    cursor: pointer;
    border: 1px solid #888;
    z-index: 1;
}
#sidebar_btn a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-shadow: none;
	color: white;
}
#main_sidebar{
	background: grey;
	height: 100%;
	position: absolute;
	top: 0;
	width: 50%;
	left: -50%;
	z-index: 1;
}
#main_sidebar ul{
	width: 100%;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	color: white;
}
#main_sidebar ul li{
	text-shadow: none;
	list-style: none;
	width: 100%
	font-size: 1.2em;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid white;
}

html {
  height: 100%
}

body { 
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#page1 {
	height: 100%;
}

.ui-btn-corner-all{
	border-radius: none;
}
#profile{
	display: none;
}
#profile_thumb{
	width: 20px;
}